body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/* intro-section */

#intro{
    padding: 50px 140px 100px 140px;
}
.intro-container {
    background-color: #161616;
    width: auto;
    height: 646px;
    display: flex;
    border-radius: 30px;
}
.intro-text{
    width: 531px;
    height: 124px;
    padding-left: 106px;
    padding-top: 111px;
}
.intro-text h1,p{
    color: white;
}
.intro-text h1{
    font-weight: 700;
    font-size: 70px;
}
.intro-text p {
    font-weight: 400;
    font-size: 16px;
}
.intro-img{
    height: 631px;
    width: 581px;
}
.intro-img img{
    height: 646px;
    width: 900px;
}

/* details-section */

#details{
    padding: 30px 140px 100px 140px;
}

.details-container {
    display: flex;
}

.details-container nav{
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
 
.links{
    text-decoration: none;
    padding: 14px 10px;
    background-color: white;
    width: 160px;
    border-radius: 5px;
    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.links div{
    font-size: 15px;
    font-weight: 700;
    color: #161616;
}

.details-container article{
    display: grid;
    grid-template-columns: repeat(3, 5fr);
}

.transfer {
    margin-left: 85px;
    display: grid;
    height: 362px;
    width: 350px;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    margin-bottom: 72px;
}

.transfer img{
    width: 350px;
    height: 180px;
    border-radius: 5px 5px 0 0;
}

.transfer button{
    width: 100px;
    height: 32px;
    background-color: white;
    border: 1px solid #161616;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 17px;
}

.transfer p {
    color: black;
    margin-left: 17px;
}


/* footer-section  */

footer{
    background-color: #161616;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    color: white;
    font-size: 40px;
    font-weight: 600;
}

hr{
    width: 1400px;
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 50px;
}

.socials{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.socials a{
    text-decoration: none;
    color: white;
}

